html {background: beige;}

div h1 {
	fronr-size: 14px;
	text-align: center;
	display: block;
	color: black;
	background-color: beige;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	front-family: sans-serif;
}


.bordesRedondeados {
	border-radius: 20px;
}
.imgGrande {
	width: 1500px;
	margin-left: 170px;
	text-align: center;

}



ul{
	list-style: none;
	front-size: 0;
	padding: 0;
	text-align: center;
}
li {
	display: inline-block;
	width: 10%;
	position: relative;
}
li a {
	fronr-size: 14px;
	text-align: center;
	display: block;
	color: black;
	background-color: burlywood;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	front-family: sans-serif;
}
a:hover {
	background-color: rgb(200,186,151);
}
ul ul {
width: 100%;
position: absolute;
display: none;

}
main h2 {
	padding: 50px 20px 20px 60px;
	margin-left: 75px;
	
}
main p{
	padding: 00px 20px 20px 60px;
	margin-left: 75px;	
}

.box1 {
	padding: 00px 20px 20px 60px;
    border:1px solid burlywood;
}
div p {fronr-size: 14px;
	text-align: center;
	display: inline-block;
	color: black;
	background-color: beige;
	padding: 20px;
	text-transform: lowercase;
	text-decoration: none;
	front-family: sans-serif;

}
footer {
	text-align: center;
}

.container {
	width: 100%;
	text-align: left;
}
.grid {
	display: grid;
	text-align: left;

}
.col-12 {
	grid-template-columns: repeat(1, 1fr);
}
.col-11 {
	grid-template-columns: repeat(11, 1fr);

}
.col-10 {
	grid-template-columns: repeat(10, 1fr);

}
.col-9 {
	grid-template-columns: repeat(9, 1fr);

}
.col-9 {
	grid-template-columns: repeat(8, 1fr);

}
.col-8 {
	grid-template-columns: repeat(8, 1fr);

}
.col-7 {
	grid-template-columns: repeat(7, 1fr);

}
.col-6 {
	grid-template-columns: repeat(2, 1fr);
text-align: left;
}
.col-5 {
	grid-template-columns: repeat(5, 1fr);

}
.col-4 {
	grid-template-columns: repeat(3, 1fr);
text-align: left;
}
.col-3 {
	grid-template-columns: repeat(4, 1fr);
text-align: left;
}
.col-2 {
	grid-template-columns: repeat(6, 1fr);

}
.col-1 {
	grid-template-columns: repeat(12, 1fr);

}
