html {background: beige;}

div h1 {
	fronr-size: 14px;
	text-align: center;
	display: block;
	color: black;
	background-color: beige;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	front-family: sans-serif;
}


.bordesRedondeados {
	border-radius: 20px;
}
.imgGrande {
	width: 1500px;
	margin-left: 170px;
	text-align: center;

}



ul{
	list-style: none;
	front-size: 0;
	padding: 0;
	text-align: center;
}
li {
	display: inline-block;
	width: 10%;
	position: relative;
}
li a {
	fronr-size: 14px;
	text-align: center;
	display: block;
	color: black;
	background-color: burlywood;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	front-family: sans-serif;
}
a:hover {
	background-color: rgb(200,186,151);
}
ul ul {
width: 100%;
position: absolute;
display: none;

}
main h2 {
	padding: 50px 20px 20px 60px;
	margin-left: 75px;
	
}
main p{
	padding: 00px 20px 20px 60px;
	margin-left: 75px;	
}

.box1 {
	padding: 00px 20px 20px 60px;
    border:1px solid burlywood;
}
div p {fronr-size: 14px;
	text-align: center;
	display: inline-block;
	color: black;
	background-color: beige;
	padding: 20px;
	text-transform: lowercase;
	text-decoration: none;
	front-family: sans-serif;

}
footer {
	text-align: center;
}