html {background: beige;}

div h1 {
	fronr-size: 14px;
	text-align: center;
	display: block;
	color: black;
	background-color: beige;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	front-family: sans-serif;
}


.bordesRedondeados {
	border-radius: 20px;
}
.imgGrande {
	width: 1500px;
	margin-left: 170px;
	text-align: center;

}



ul{
	list-style: none;
	front-size: 0;
	padding: 0;
	text-align: center;
}
li {
	display: inline-block;
	width: 10%;
	position: relative;
}
li a {
	fronr-size: 14px;
	text-align: center;
	display: block;
	color: black;
	background-color: burlywood;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
	front-family: sans-serif;
}
a:hover {
	background-color: rgb(200,186,151);
}
ul ul {
width: 100%;
position: absolute;
display: none;

}
main h2 {
	padding: 50px 20px 20px 60px;
	margin-left: 75px;
	
}
main p{
	padding: 00px 20px 20px 60px;
	margin-left: 75px;	
}

.box1 {
	padding: 00px 20px 20px 60px;
    border:1px solid burlywood;
}
div p {fronr-size: 14px;
	text-align: center;
	display: inline-block;
	color: black;
	background-color: beige;
	padding: 20px;
	text-transform: lowercase;
	text-decoration: none;
	front-family: sans-serif;

}

footer {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	cursor: pointer;
	text-align: center;
	padding: 20px;

}
.icon {
	position: relative;
	width: 80px;
	height: 80px;
	margin:20px ;
	border-radius: 50%;
	transition: all .8s;
}
.icon:hover{
	background-color: #e60073;
	box-shadow: 0 0 20px #e60073;

}
.icon:hover:nth-child(2){
	background-color: #1877f2;
	box-shadow: 0 0 20px #1877f2;
	}
.icon:hover:nth-child(3){
	background-color: #25d366;
	box-shadow: 0 0 20px #25d366;
	}
	.icon:hover:nth-child(4){
	background-color: #1da1f2;
	box-shadow: 0 0 20px #1da1f2;
	}
.icon i {
	color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 1.7rem;
}
svg circle {
	stroke-dasharray: 150;
	transition: all .8s esasy-in-out;
}
.icon:hover circle {
	stroke-dasharray: 220;
}